.contact {
    margin: 10px;
    display: flex;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}
.caterForm {
    background-color: beige;
}