h1{
    width: 100%;
    text-align: center;
    margin:0;
}
h2{
    text-align: center;
}
main{
    margin: 10px;
    padding: 20px;
}
footer{
    text-align: center;
    width: 100%;
    padding: 10px;
    bottom: 0;
}
nav{
    text-align: center;
    margin: 1%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
header{
    background-color: tan;
    margin: 0;
}
body{
    margin: 0;
}
.background-div{
    position: relative;
    display: inline-block; 
}
.background-div img{
    position: relative;
    width: 100%;
    height: 100%; 
    opacity: 2;
    background-size: contain; /* Change 'cover' to 'contain' */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
    background-position: center; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 16px; 
    text-align: center; 
  }
  
html{
    width: 100%;
}
main{
    margin: 0;
}
hr{
    margin:0;
}
.Menu{
    overflow: hidden;
    padding-bottom: 20px;
}
.menuImage{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.menuDescription{
    width: 60%;
}
