h1{
    width: 100%;
    text-align: center;
    margin:0;
}
h2{
    text-align: center;
}
main{
    margin: 10px;
    padding: 20px;
}
footer{
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
}
nav{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
header{
    background-color: tan;
    margin: 0;
}
body{
    margin: 0;
}
.description{
    width: 100%;
}
.text{
    width: auto;
}
.Menu{
    overflow: hidden;
    padding-bottom: 20px;
}
.menuImage{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.menuDescription{
    width: 60%;
}